.weather {
    display: flex;
    width: 25rem;
    border-radius: 16px;
    box-shadow: 10px -2px 20px 2px rgb(0, 0, 0/ 50%);
    color: #fff;
    float: right;
    background-color: #33333363;
    margin: 0.3% 5% 0 auto;
    padding: 2.5% 3.5%;
    justify-content: center;
    flex-direction: row;
}

.top-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.temperature {
    font-weight: 600;
    font-size: 1.4em;
    margin: 0 1rem;
}

.vent {
    font-weight: 300;
    font-size: 1.3em;
    margin: 0 1rem;
}

.weather-icon {
    font-size: 2rem;
    margin-right: 0.5rem;
}

.weather-description {
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: capitalize;
}